
.section-container {
	min-height: 100vh;
	padding-top: 1em;
	padding-bottom: 2em;
}

.parallax {
	background-image: url("./static/astronaut.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#navibar {
	position: fixed;
	width: 100%;
	z-index: 9999;
}

#navigation-menu-container {
	width: 100%;
}

.nav-link {
	font-size: 1.3em;
	margin-left: 1.2em;
}

#shrink-container {
	margin: 0 auto;
}

.section-heading {
	margin: 1em 0 0.3em 0;
	font-size: 3em;
	text-align: center;
	font-weight: 500;
}

#shrink-section {
	padding-top: 13em;
}

#shrink-section-heading {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 0.8em;
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 0.5em;
}

#shrink-form {
	margin: 0 auto;
	width: 60%;
}

#shrink-text-input {
	height: 3em;
}

#shrink-button {
	height: 3.8em;
}

#list-container {
	margin: 0 auto;
	width: 62%;
	height: 6em;
	//border: 1px solid #c4c4c4;
	border-radius: 10px;
}

#project-info-section {
	min-height: 100vh;
	background-color: #fff;
}

#project-info-icon {
	margin: 0 auto;
}

#project-info-content {
	font-size: 2em;
	width: 80%;
	margin: 0 auto;
	color: #253030;
}

#contact-section {
	background-color: #f6f6f9;
}

#contact-content {
	font-size: 1.5em;
}

#avatar {
	width: 12em;
	margin: 0 auto;
}

#contact-info p {
	text-align: center;
}

#contact-info #name {
	font-size: 2.5em;
}

#contact-info #resume {
	text-align: center;
}

#contact-info li {
	font-size: 1.6em;
	text-align: center;

}

@media only screen and (max-width: 768px) {
	/* for mobile only */

	#navibar {
		width: 100vw;
	}

	#logo-container {
		margin: 0 auto;
	}

	.navbar-nav {
		width: 100vw;
	}

	.nav-link {
		width: 30%;
		margin: 0 auto;
	}

	#shrink-section {
		padding-top: 15em;
	}

	#shrink-section-heading {
		font-size: 2.4em;
	}

	#project-info-content {
		font-size: 1.5em;
	}

}